.result
    display: flex
    justify-content: space-between
    align-items: center
    height: 20%
    width: 90%
    padding: .5rem
    border: 1px solid white
    border-radius: 10px
    background: linear-gradient(#b4b4b4, #EDEDED)
    margin: 1rem 0
    color: #2B2B2B
    font-size: 1.3rem
    &__company
        max-width: 60%
        &-symbol
            margin: .5rem
            font-weight: 700
            color: #2B2B2B
        &-detail
            margin: .5rem
            font-weight: 300
            color: #2B2B2B
            font-size: .8em
    &__change
        &--up
            color: #4fc855
        &--down
            color: #E66363        
    &__icon
        &--up
            color: #4fc855
        &--down
            color: #E66363     
    &__invested
        text-decoration: ita
        color: #585858
        font-size: 1.5rem   