.search
    width: 80%
    display: flex
    justify-content: space-between
    height: 15%
    align-items: center
    margin: 2rem 0
    &__query
        border: 0
        border-bottom: 2px solid white
        outline: none
        background-color: transparent
        width: 70%
        font-size: 1.2rem
        text-align: center
    &__submit
        font-size: 2rem
        background-color: transparent
        outline: none
        border: 0