.profit
    display: flex
    flex-direction: column
    align-items: center
    width: 90%
    border-radius: 10px
    padding: 2rem
    box-sizing: border-box
    background: linear-gradient(#222222, #070707)
    &__title
        font-size: 1.8rem
        font-weight: 300
    &__absolute
        font-size: 4rem
        &--up
            color: #4fc855
        &--down
            color: #E66363 
    &__relative
        font-size: 2rem
        margin-bottom: 1rem
        &--up
            color: #4fc855
        &--down
            color: #E66363 
