@import ./components/app
@import ./components/header
@import ./components/search
@import ./components/login
@import ./components/register
@import ./components/results
@import ./components/result
@import ./components/details
@import ./components/profit
@import ./components/investments
@import ./components/new-position-form
@import ./components/feedback


*
    margin: 0
    font-family: 'Roboto Condensed'
    color: #FFFFFF

#root
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
body
    display: flex
    flex-direction: column
    align-items: center
    width: 100vw
    min-height: 100vh
    background: linear-gradient(#2B2B2B, #606060)