@import ./components/app
@import ./components/header
@import ./components/search
@import ./components/login


*
    margin: 0
    font-family: 'Roboto Condensed'
    color: #FFFFFF

#root
    height: 100%
    width: 100%

body
    width: 100vw
    height: 100vh